.mainLayout {
  background: #005fd9;
  padding: 10px;
  main.MainBody {
    border-radius: 15px;
    height: calc(100vh - 20px);
    overflow: auto;
    scrollbar-width: none;
    width: calc(100% - 256px);
  }
}
@media (max-width: 992px) {
  .mainLayout {
    main.MainBody {
      width: calc(100%);
    }
  }
}
