.mainLayout {
  background: #005fd9;
  // padding-left: 10px;
  // padding-top: 0;
  main.MainBody {
    border-radius: 15px;
    height: calc(100vh );
    overflow: auto;
    scrollbar-width: none;
    width: calc(100% - 200px);
  }
}
@media (max-width: 992px) {
  .mainLayout {
    main.MainBody {
      width: calc(100%);
    }
  }
}
