table.table {
  th,
  td {
    padding: 7px 10px;
    font-size: 12px;
    line-height: 20px;
    min-width:100;
    color: #5e5d5d;
    vertical-align: middle;
  }
  thead {
    th {
      font-weight: 600;
      // color: #A8A8BD !important;
      background-color: #f7f8fa;
      color: #505470;
      white-space: nowrap;
    }
  }
  tbody {
    td {
      padding: 10px 10px;
      font-weight: 500;
      border: 0;
    }
  }
}
