@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.form-control {
  font-size: 13px;
  height: 45px;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}

.fw-sbold {
  font-weight: 600 !important;
}

.themeClr {
  color: #033E8A !important;
}

.themeBlue {
  color: #005FD9 !important;
}

.dropdown .dropdown-toggle:after {
  display: none;
}

.notLastBorder>*:not(:last-child) {
  border-bottom: 1px solid #6e6e6e;
}

.cstmPagination .page-item.active .page-link {
  background: #1c58d3;
  border-color: #1c58d3;
}

input.form-check {
  accent-color: #6c6b6b;
}

.form-check-input:focus {
  box-shadow: unset;
  border-color: #ddd;
}

input#custom-switch:checked {
  background-color: #64B116;
}

.commonBtn {
  background: #005FD9;
  border-color: #005FD9;
  height: 45px;
  font-size: 14px;
  min-width: 130px;
}

.commonBtn:hover {
  background-color: #264c91;
  border-color: #264c91;
}

textarea {
  resize: none;
}

.box {
  background: #FBFBFB;
  box-shadow: 1px 1px 3.8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.form-control:focus {
  box-shadow: unset !important;
  border-color: #033E8A !important;
}

input.file {
  top: 0;
  left: 0;
  z-index: 9;
  cursor: pointer;
  opacity: 0;
}

.TableFilter .form-control {
  font-size: 12px;
  color: #4F4F4F;
  font-weight: 500;
}

.TableFilter .btn {
  height: 35px;
  font-size: 12px;
  font-weight: 600;
}

.commonBtn.GreyBtn {
  background: #4F4F4F;
  border-color: #4F4F4F;
}

.iconWithText .icn.position-absolute {
  top: 50%;
  transform: translateY(-50%);
}

.searchBox input {
  height: 40px;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  min-width: 200px;
  font-size: 12px;
  color: #c4c4c4;
  padding-right: 35px;
}

.tableFilter select.select.form-select {
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  min-width: 110px;
  background-color: #F7F8FA;
  border: 1px solid #EFF0F4;
  border-radius: 8px;
  box-shadow: unset !important;
}

.searchBox input::placeholder {
  color: #c4c4c4;
}

.gap-10 {
  gap: 10px;
}

.otpWrp>div {
  justify-content: space-between;
  gap: 10px;
}

.otpWrp input {
  width: 70px !important;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #A5C8F5;
  background: #A5C8F5;
}

.noLastBorder>*:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.react-tel-input .form-control {
  width: 100%;
  height: 45px;
}

/* pills tab */
.pillsTab.nav {
  flex-wrap: nowrap;
  padding: 3px;
  overflow: scroll;
  scrollbar-width: none;
}

.pillsTab.nav a.nav-link {
  font-weight: 500;
  color: #C2C2C2;
  min-width: 130px;
  white-space: nowrap;
}

.pillsTab.nav a.nav-link.active {
  color: #fff;
}

/* underline tab */
.underlineTab a.nav-link {
  color: #665C5C;
}

.underlineTab a.nav-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  border-radius: 5px;
  background: #DC1919;
  width: 100%;
  transform: translateY(50%);
  opacity: 0;
}

.underlineTab a.nav-link.active {
  color: #000;
}

.underlineTab a.nav-link.active:after {
  opacity: 1;
}

header .dropdown:has(.dropdown-menu.show) .position-fixed {
  display: block !important;
}

/* commissionpop */
.SetCommissionPop .modal-dialog {
  max-width: 400px;
}

@media (min-width: 1200px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* css   */


/* pagination */
.rc-pagination-item.rc-pagination-item-active {
  background-color: #1c58d3 !important;
  border-color: #1c58d3 !important;
}

.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next {
  width: 20px !important;
  height: 28px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px !important;
}

.rc-pagination-item a,
.rc-pagination-prev a,
.rc-pagination-next a {
  width: 100% !important;
  height: 100% !important;
}

.rc-pagination-item.rc-pagination-item-active a {
  border-color: #1c58d3 !important;
}

.rc-pagination-item.rc-pagination-item-active a {
  color: #fff !important;
}

.rc-pagination-prev button:after,
.rc-pagination-next button:after {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.focus-border-none:focus {
  outline: none;
  border: none;
}

.linkWrpper .accordion-item {
  background-color: transparent !important;
  border: none;
}

.linkWrpper .accordion-collapse .accordion-body {
  padding: 1px !important;
}

.linkWrpper .accordion-header {
  margin-bottom: 2px !important;
}

.width-fit-content {
  max-width: 10px !important;
}